
.form {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    color: aliceblue;
    font-size: x-large;
}



.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

.form__label {
    margin-bottom: .25rem;
}

.form__row {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 20px;
}

.form__row--options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.form__input,
.form__select,
.form__textarea {
    width: 75%;
    background-color: gray;
}

.form__option {
    flex-wrap: wrap;
    max-width: 15rem;
}

.form__option--label {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.form__option--label span {
    display: inline-block;
    white-space: normal;
    line-height: 1.2;
}

.form__status {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;    
}

.form__date {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.form__label-wrap {
    text-align: left;
    width: 50%;
    margin-left: 1rem;
}

.form__textarea {
    height: 3rem;
}

.form__submit {
    width: 25%;
    font-size: 15px;
}
