
html,body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.page {
   min-height: 100dvh; 
   overflow-y: auto;
   overflow-x: hidden;
   height: 100dvh;
}

.info__title {
    margin: 1rem;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-top: -20px;
}

body {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding: 1rem;
    font-size: 30px;
    color: aliceblue;
    font-family: "Limelight";
}

.nav__link {
    text-decoration: none;
    margin-right: 1rem;
}

.nav__link:visited {
    color: aliceblue;
}

.hamburger-menu { 
    position: relative;
    display: none;
    width: 35px;
    height: 30px;
    z-index: 10;
}

/* ----------- Hamburger Menu ---------------- */
@media (max-width: 768px) { 
    /* Give the hamburger breathing room */
    nav { 
        justify-content: space-between; 
    }
    
    /* Hide desktop links */ 
    .nav__link { 
        display: none;

    } 
    
    /* Show hamburger menu */ 
    .hamburger-menu { 
        position: fixed;
        display: flex;
        width: 35px;
        height: 30px;
        z-index: 10;
    } 
}

.menu__btn {
   display: inline-block;
   cursor: pointer;
   position: relative;
   width: 35px;
   height: 30px;
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
   display: block;
   background-color: #ffffff;
   height: 5px;
   width: 35px;
   border-radius: 3px;
   position: absolute;
   transition: all 0.3s;
}
.menu__btn span::before {
   content: '';
   top: -10px;
}
.menu__btn span::after {
   content: '';
   top: 10px;
}
#menu__toggle {
   display: none;
}
#menu__toggle:checked + .menu__btn span {
   background-color: transparent;
}
#menu__toggle:checked + .menu__btn span::before {
   transform: rotate(45deg);
   top: 0;
}
#menu__toggle:checked + .menu__btn span::after {
   transform: rotate(-45deg);
   top: 0;
}
.menu__box {
   display: none;
   position: absolute;
   top: 30px;
   left: 0;
   width: 200px;
   padding: 10px;
   background-color: #484747;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   list-style: none;
}
#menu__toggle:checked ~ .menu__box {
   display: block;
}
.menu__item {
   display: block;
   padding: 10px;
   color: #333;
   text-decoration: none;
}
.menu__item:hover {
   background-color: #7a7a7a;
}

/* ----------- Hamburger Menu ---------------- */

.gallery {
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Limelight";
    font-size: 20px;
   
}

.inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    font-family: "Story Script";
    max-width: 750px;
}

.inspiration__title {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.inspiration__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    gap: 2rem;
    max-width: 750px;
}

.info__main {
    text-align: center;
    background-color: rgb(169, 162, 189);
    border-radius: 20px 20px 20px 20px;
    max-width: 750px;
}

.info__title {
    font-size: 30px;
}

.info__text, p {
    font-size: 25px;
    font-weight: 400;
    padding: 1rem;
}

.field {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}

a {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Limelight";
}

a:visited {
    color: aliceblue;
}

img {
     border-radius: 20px 20px 20px 20px;
    }
