
html {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
   
}

nav {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: x-large;
    color: aliceblue;
    font-family: "Limelight";
}

.nav__link {
    text-decoration: none;
    margin-right: 1rem;
}

.nav__link:visited {
    color: aliceblue;
}

.page__header, .gallery {
    justify-items: center;
    align-items: center;
    color: aliceblue;
    font-family: "Limelight";
    font-size: 25px;
    max-height: 100px;
    margin-top: 100px;
}

.inspiration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: aliceblue;
    gap: 10rem;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Story Script";
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    gap: 2rem;
    max-width: 750px;
}

.info__main {
    text-align: center;
    background-color: rgb(169, 162, 189);
    border-radius: 20px 20px 20px 20px;
    max-width: 750px;
}

.info__title {
    font-size: 30px;
}

.info__text,
p {
    font-size: 25px;
    font-weight: 400;
    padding: 1rem;
}

.field {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 100px;
}

img {
    width: 400px;
    height: 500px; 
}

.inspiration__image {
    margin-left: 30px;
}

.inspiration__title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-right:2rem;
}

.inspiration__title-wrapper {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-right:2rem;
    margin-bottom: -2rem;
}
