
html {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center
}

.page {
    margin: 0 auto;
    width: 100%;
}

body {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

nav {
    display: flex;
    justify-content: end;
    font-size: x-large;
    color: aliceblue;
    font-family: "Limelight"
}

.nav__link {
    text-decoration: none;
    margin-right: 1rem;
}

.nav__link:visited {
    color: aliceblue;
}


.home--header {
    justify-items: center;
    color: aliceblue;
    font-family: "Limelight";
    font-size: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: aliceblue;
    gap: 2rem;
}

.main__info {
    text-align: center;
    background-color: rgb(169, 162, 189);
    border-radius: 20px 20px 20px 20px;
    padding: 1.5rem;
}
