.header {
    display: flex;
    justify-content: space-between;
}

.header__image {
    height: 50px;
    width: 200px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.header__sign-in {
    height: 50px;
    width: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: larger;
}

.heading__bar {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 1rem 0;
    text-align: center;
}

.field {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
}

.field__author {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

h2 {
    text-align: left;
    border: 2px solid white;
    padding: 1rem 0;
    padding-left: 1rem;
    font-size: 45px;
    max-width: 700px;
    margin-bottom: .5rem;
}

h3 {
    text-align: left;
    margin-bottom: -5px;
    margin-left: .5rem;
}

p {
    font-size: x-large;
    text-align: left;
}

ul {
    list-style-type: "- ";
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
    padding: 1rem;
    max-width: 700px;
}

.lists__left {
    margin-left: -1rem;
}

.lists__title {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__image {
    height: 50px;
    width: 200px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.footer__selections {
    display: flex;
    margin-top: 2rem;
    margin-right: 2rem;
    gap: 1rem;
}



    
