
html,body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.page {
   min-height: 100dvh; 
   overflow-y: auto;
   overflow-x: hidden;
   height: 100dvh;
}

.pager {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    
}

body {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

nav {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 30px;
    color: aliceblue;
    font-family: "Limelight";
}

.nav__link {
    text-decoration: none;
    margin-right: 1rem;
}

.nav__link:visited {
    color: aliceblue;
}

.pager__header, .gallery {
    justify-items: center;
    align-items: center;
    color: aliceblue;
    font-family: "Limelight";
    font-size: 25px;
}

.inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    font-family: "Story Script";
    max-width: 750px;
}

.inspiration__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.inspiration__title-wrapper {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.inspiration__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    gap: 2rem;
    max-width: 750px;
}

.info__main {
    text-align: center;
    background-color: rgb(169, 162, 189);
    border-radius: 20px 20px 20px 20px;
    max-width: 750px;
}

.info__title {
    font-size: 30px;
}

.info__text, p {
    font-size: 25px;
    font-weight: 400;
    padding: 1rem;
}

.field {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Limelight";
}

a:visited {
    color: aliceblue;
}

.form__input,
.form__textarea {
    background-color: gray;
}
