@font-face {
  font-family: 'henny';
  src: url('../fonts/HennyPenny-Regular.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

nav {
    position: relative;
    z-index: 10;
}

.form__title {
    font-family: 'henny';
    font-size: 5rem;
    margin-bottom: .5rem;
}

.page__wrapper {
    transform: translateY(-7rem);
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    border: none;
}

.form {
    transform: translateY(-1.5rem);
    background-color: rgba(20, 20, 30, 0.8);
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 0 auto;
    width: 25%;
    border-radius: 20px;
}

.form__group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form__input,
.form__select,
.form__textarea {
    background-color: white;
    width: 75%;
    text-align: center;
    height: 2rem;
    border-radius: 20px;
    font-size: 25px;
}

.form__textarea {
    height: 3rem;
    width: 75%;
    height: 7rem;
    resize: none;
    overflow-y: auto;
}

.form__submit {
    font-size: 25px;
    width: 75%;
    background-color: gray;
    border-radius: 20px;
}

@media (max-width: 768px) { 

    .form {
        width: 90%
    }

    .page__wrapper {
        max-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form__title {
        font-family: 'henny';
        font-size: 4rem;
    }

    .form__input,
    .form__select,
    .form__textarea {
        background-color: white;
        width: 90%;
    }

    .form__textarea {
        width: 90%;
    }

    .form__submit {
        font-size: 25px;
        width: 90%
    }
}
