
/*=========================*/
/*    CONTACT-ME.HTML      */
/*=========================*/

.form {
    align-content: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 0 auto;
    max-width: 350px;
}

.form__group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form__input,
.form__select,
.form__textarea {
    background-color: gray;
}

.form__textarea {
    height: 3rem;
    width: 15rem;
}

.form__submit {
    font-size: 15px;
}
