
/*=========================*/
/*    CONTACT-ME.HTML      */
/*=========================*/

.form {
    align-content: center;
    background-color: rgb(152, 207, 255);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 0 auto;
    width: 25%
}

.form__group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form__input,
.form__select,
.form__textarea {
    background-color: gray;
    width: 75%;
}

.form__textarea {
    height: 3rem;
    width: 75%;
}

.form__submit {
    font-size: 25px;
    width: 75%;
}

@media (max-width: 768px) { 

    .form {
    width: 90%
    }

    .form__input,
    .form__select,
    .form__textarea {
        background-color: gray;
        width: 90%;
    }

    .form__textarea {
        height: 3rem;
        width: 90%;
    }

    .form__submit {
        font-size: 25px;
        width: 90%
    }
}
