/*=========================*/
/*      GLOBAL STYLES      */
/*=========================*/

html {
  background-color: black;
}

html,body {
  overflow-x: hidden; 
}

/*=========================*/
/*     COUNTER BANNER      */
/*=========================*/

.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  max-width: 100%;
} 

 .sb__game-over--hidden {
  display: none;
} 

/*=========================*/
/*       MOLE FIELD        */
/*=========================*/

.pf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.wgs {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.wgs__mole-head {
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: margin-top .25s;
  width: 100%;
}

.wgs__dirt-pile {
  position: absolute;
  height: 100%;
  width: 100%;
}

.wgs__mole-head--hidden {
  margin-top: 350px;
}

/*=========================*/
/*       MEDIA QUERY       */
/*=========================*/

@media (max-width: 768px) {

  .pf {
    grid-template-columns: repeat(2, 1fr);
}

}
