/*=========================*/
/*      GLOBAL STYLES      */
/*=========================*/

html {
  background-color: black;
}

html,body {
  overflow: hidden; 
}

body {
  height: 100dvh
}

/*=========================*/
/*     COUNTER BANNER      */
/*=========================*/

.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  max-width: 100%;
} 

 .sb__game-over--hidden {
  display: none;
} 

/*=========================*/
/*       MOLE FIELD        */
/*=========================*/

.pf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100dvh;
  overflow: hidden;
}

.wgs {
    position: relative;
    width: 100%;
    margin-left: 1rem;
    overflow: hidden;
    height: 75%;
}

.wgs__mole-head {
    height: 80%;
    object-fit: contain;
    margin-top: 3rem;
    margin-left: 5rem;
    position: absolute;
    transition: margin-top .25s;
    width: 55%;
}

.wgs__dirt-pile {
    position: absolute;
    height: 39%;
    margin-top: 18rem;
    width: 95%;
}

.wgs__mole-head--hidden {
  margin-top: 600px;
}

/*=========================*/
/*       MEDIA QUERY       */
/*=========================*/

@media (max-width: 768px) {

  .pf {
    grid-template-columns: repeat(2, 1fr);
  }

  .wgs {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 4rem;
  }

  .wgs__mole-head {
    height: 51%;
    object-fit: contain;
    margin-left: .5rem;
    position: absolute;
    transition: margin-top .25s;
    width: 80%;
  }

  .wgs__dirt-pile {
    position: absolute;
    height: 38%;
    margin-top: 6.5rem;
    width: 99%;
  }

  .wgs__mole-head--hidden {
    margin-top: 375px;
  }

}
