
/*=========================*/
/*      GLOBAL STYLES      */
/*=========================*/

html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("../images/treebkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page {
   min-height: 100dvh; 
   overflow-y: auto;
   overflow-x: hidden;
   height: 100dvh;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

a:visited {
    color: aliceblue;
}

.nav__right a {
  text-decoration: none;
  outline: none;
}

img {
     border-radius: 20px 20px 20px 20px;
}

h1,
h2,
h3 {
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    margin-top: -2rem;
    color: rgb(255, 255, 255);
    font-family: "orbitron";
    font-weight: 900;
    font-size: 15px;
}

p {
    font-size: 25px;
    font-weight: 400;
}

/*=========================*/
/*       NAVIGATION        */
/*=========================*/

nav {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding: 1rem;
    font-size: 30px;
    color: aliceblue;
    font-family: "Orbitron";
}

.nav__link {
    text-decoration: none;
    margin-right: 1rem;
    font-family: "Orbitron";
    font-weight: bolder;

}

.nav__link:visited {
    color: aliceblue;
}

/*=========================*/
/*     HAMBURGER MENU      */
/*=========================*/

.hamburger-menu { 
    position: relative;
    display: none;
    width: 35px;
    height: 30px;
    z-index: 10;
}

.menu__btn {
   display: inline-block;
   cursor: pointer;
   position: relative;
   width: 35px;
   height: 30px;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
   display: block;
   background-color: #ffffff;
   height: 5px;
   width: 35px;
   border-radius: 3px;
   position: absolute;
   transition: all 0.3s;
}

.menu__btn span::before {
   content: '';
   top: -10px;
}

.menu__btn span::after {
   content: '';
   top: 10px;
}

#menu__toggle {
   display: none;
}

#menu__toggle:checked + .menu__btn span {
   background-color: transparent;
}

#menu__toggle:checked + .menu__btn span::before {
   transform: rotate(45deg);
   top: 0;
}

#menu__toggle:checked + .menu__btn span::after {
   transform: rotate(-45deg);
   top: 0;
}

.menu__box {
   display: none;
   position: absolute;
   top: 30px;
   left: 0;
   width: 200px;
   padding: 10px;
   background-color: #484747;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   list-style: none;
}

#menu__toggle:checked ~ .menu__box {
   display: block;
}

.menu__item {
   display: block;
   padding: 10px;
   color: #333;
   text-decoration: none;
   border: 1px solid rgb(255, 255, 255);
}

.menu__item:hover {
   background-color: #7a7a7a;
}

/*=========================*/
/*       INDEX.HTML        */
/*=========================*/

.main-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: "Story Script";
    font-weight: 900;
    font-size: 35px;
    width: 90%;
}

/*======typing-intro=======*/

.typing-intro {
    font-family: "Orbitron";
    font-size: 30px;
    margin: 0 auto;
    color: white;
    margin-top: -3rem;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid white; /* cursor */
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { border-color: white; }
    50% { border-color: transparent; }
    100% { border-color: white; }
}

/*=========================*/
/*      GALLERY.HTML       */
/*=========================*/

/*========CAROUSEL=========*/

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 75%;
    max-width: 550px;
    overflow: hidden;
}

/* Slides Wrapper */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
 }

/* Individual Slide */
.slide {
    min-width: 100%;
}

.slide img {
    width: 90%;
}

/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    background-color:rgb(169, 162, 189);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.next { 
    right: 10px; 
}

.prev { 
    left: 10px; 
}

/*=========================*/
/*    INSPIRATION.HTML     */
/*=========================*/

.inspiration {
    display: grid;
    grid-template-columns: 75% 75%;
    gap: 4rem;
    justify-content: center;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    font-family: "Story Script";
    max-width: 750px;
}

.inspiration__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.inspiration__title {
    font-size: 35px;
}

/*=========================*/
/*       MEDIA QUERY       */
/*=========================*/

@media (max-width: 768px) { 
    /* Give the hamburger breathing room */
    nav {
        justify-content: space-between;
    }

    .nav__right {
        margin-top: .5rem;
        width: 35px;
        height: 30px;
        z-index: 10;
    }

    /* Hide desktop links */ 
    .nav__link { 
        display: none;
    } 
    
    /* Show hamburger menu */ 
    .hamburger-menu { 
        position: fixed;
        display: flex;
        width: 35px;
        height: 30px;
        z-index: 10;
    }
    
    /* Shrink typing intro on mobile*/
    .typing-intro {
    font-family: "Orbitron";
    font-size: 18px;
    margin: 0 auto;
    color: white;
    margin-top: -3rem;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid white; /* cursor */
    animation: blink 0.7s infinite;
    }

    /* Convert Inspirations to Column*/
    .inspiration {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        margin-left: auto;
        margin-right: auto;
        font-family: "Story Script";
        max-width: 750px;
    }

    .inspiration__text {
        width: 90%;
    }

    /* remove inspiration text, will be enabled once new pages and images linked 
    .inspiration__text {
        display: none;
    }
    */
}
